@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary : #1F4B43;
  --secondary: #E7C873;
  --accent: #1A1A1A;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.heading {
  font-size: clamp(30px ,4vw + 1rem , 60px);
  line-height: 1em;
}
